/*****************************************
  CSS RESET
*****************************************/ 

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*****************************************
  CSS VAR STYLES
*****************************************/  

/* @font-face {
  font-family: 'acworth-outline';
  src: url('fonts/acworth-outline-webfont.woff2') format("woff2");
  font-style: normal;
} */


:root {
  --main-bg-color-light: #ECE7E1;
  --main-bg-color-dark: #ECE7E1;
  --text-color-white: #fff;
  --text-color-black: #1c1c1c;
  --text-color-lifted-black: #353535;
}

body {
  overflow-x: hidden;
  background-color: var(--main-bg-color-light);
  padding: 20px;
  display: flex;
}

h1, 
h2, 
h3 {
  color: var(--text-color-black);
}

h1 {
  font-weight: 900;
  font-size: 64px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

p {
  font-weight: 700;
  color: var(--text-color-lifted-black)
}

a {
  font-weight: 700;
  color: var(--text-color-lifted-black)
}