/*****************************************
  CSS RESET
*****************************************/ 

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*****************************************
  CSS VAR STYLES
*****************************************/  

/* @font-face {
  font-family: 'acworth-outline';
  src: url('fonts/acworth-outline-webfont.woff2') format("woff2");
  font-style: normal;
} */


:root {
  --main-bg-color-white: #ffffff;
  --main-bg-color-offwhite: #F3F3F1;
  --black-100: #21272C;
  --black-75: #323B43;
  --black-50: #515559;
  --black-25: #B5BEC6;
  --red: #D65C5C;
}

body {
  overflow-x: hidden;
  background-color: var(--main-bg-color-offwhite);
  padding: 15px;
  display: flex;
}

h1, 
h2, 
h3,
p {
  color: var(--black-75);
  font-weight: 600;

}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}